.toolbar-btn:hover, .top-toolbar-btn:hover:not(#theme) {
    opacity: 0.5;
}


.toolbar-btn:focus, .top-toolbar-btn:focus{
    outline: none;
}

.toolbar{
    background-color: var(--color);
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.2);
    height: 30px;
}

.toolbar-btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0 10px 5px 10px;
    outline: none;
    transition: opacity 0.3s;
}

.icon, .top-icon{
    margin-top: 2px;
    height: 17px;
}

.top-toolbar-btn {
    border: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0 5px 5px 5px;
}

.highlighted{
    background-color: aqua;
}

/*dropdown menu*/

#theme img{
    padding-top: 6px;
    width: 18px;
    height: auto;
}
#theme:hover{
    cursor: auto;
}

#theme .theme-dropdown:hover{
    cursor: pointer;
    opacity: 1 !important;
}

#theme {
    position: relative;
    display: inline-block;
}


.theme-dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: var(--position);
    background-color: #f9f9f9;
    width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

#theme:hover .theme-dropdown {
    display: block;
}

.theme-list{
    display: flex;
    flex-direction: column;
}
.theme-list div{
    height: 35px;
    display: flex;
}
.theme-list div button{
    flex: 1;
    background-color: transparent;
    border-width: 2px;
    border-color: rgba(0, 0, 0, 0.2);
    outline: none;
    color:white;
    transition: text-decoration 0.2s;
    transition: opacity 0.2s;
}

.theme-list div button:hover{
    text-decoration: underline;
    opacity: 0.7;
}


#theme1{
    background-color: #19A7CE;
}
#theme2{
    background-color: #393053;
}

#theme3{
    background-color: #F7418F;
}
#theme4{
    background-color: #506375;
}
#theme5{
    background-color: #776B5D;
}
#theme6{
    background-color: #00DFA2;
}
#theme7{
    background-color: #7D0A0A;
}
#theme8{
    background-color: #265073;
}
#theme9{
    background-color: #5D12D2;
}

/* test{
    background-color: #c9d2d3;
} */
