.right-border{
    border-right: none;
}

.active{
    font-weight:900;
    text-decoration: wavy;
    font-family: 'Arial Narrow Bold', sans-serif;
}

.normal{
    color: auto;
    font-weight: initial;
}

.none{
    display: none;
}

.hidden-toolbar{
    justify-content: right;
    padding-right: 10px;
}

.placeholder{
    flex: 1;
    text-align: center;
    padding-top: 15%;
    font-size: large;
    background-color: var(--bg-color);
}

.placeholder p{
    margin: 0;
}

.intro{
    padding-bottom: 20px;
    text-decoration: underline;
}

.app-name{
    color: var(--color);
    font-weight: bolder;
}

.italics{
    font-style: italic;
}